{% extends 'base.html.twig' %}


{% block body %}


    {{ form_start(form) }}
    {{ form_errors(form.mark) }}
    <div>
        {{ form_label(form.mark) }}
        {{ form_widget(form.mark) }}
    </div>
    {{ form_errors(form.model) }}
    <div>
        {{ form_label(form.model) }}
        {{ form_widget(form.model) }}
    </div>
    {{ form_errors(form.made) }}
    <div>
        {{ form_label(form.made) }}
        {{ form_widget(form.made) }}
    </div>
    <div>
        {{ form_widget(form.Submit) }}
    </div>
    {{ form_end(form) }}


{#        {{ form(form) }}#}

        <a href="{{ path('index') }}">Back</a>

    <p></p>
{% endblock %}

