{% extends 'base.html.twig' %}

{% block body %}
<h2>List of all cars</h2>
    <table>
        <thead>
        <tr>
            <td>
                {% if (sort != 'alphabetically') %}
                <a href="{{ path('sorting',{sort: 'alphabetically' }) }}">
                    Mark
                </a>
                {% elseif sort == 'alphabetically' %}
                <a href="{{ path('sorting',{sort: 'alphabetically_reverse' }) }}">
                    Mark
                </a>
                {% endif %}
            </td>
            <td>Model</td>
            <td>
                {% if sort != 'numeric' %}
                    <a href="{{ path('sorting',{sort: 'numeric' }) }}">
                        Made
                    </a>
                {% elseif sort == 'numeric' %}
                    <a href="{{ path('sorting',{sort: 'numeric_reverse' }) }}">
                        Made
                    </a>
                {% endif %}
            </td>
            <td>Edit</td>
            <td>Remove</td>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
        <tr>
            <td>{{ car.mark }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.made }}</td>
            <td>
                <a href="{{ path('edit',{ id: car.id }) }}">
                    Edit
                </a>
            </td>
            <td>
                <a href="{{ path('delete',{ id: car.id }) }}">
                    DELETE
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('addCar') }}">
        Add car
    </a>

{% endblock %}