{% extends 'base.html.twig' %}


{% block body %}

    <h3>The author has the following errors</h3>
    <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
    </ul>

    {{ form_start(form) }}
    {{ form_errors(form.mark) }}
    <div>
        {{ form_label(form.mark) }}
        {{ form_widget(form.mark) }}
    </div>
    {{ form_errors(form.model) }}
    <div>
        {{ form_label(form.model) }}
        {{ form_widget(form.model) }}
    </div>
    {{ form_errors(form.made) }}
    <div>
        {{ form_label(form.made) }}
        {{ form_widget(form.made) }}
    </div>
    <div>
        {{ form_widget(form.Submit) }}
    </div>
    {{ form_end(form) }}


    {#        {{ form(form) }}#}

    <a href="{{ path('index') }}">Back</a>
{% endblock %}
